*{
    padding: 0;margin: 0;box-sizing: border-box;font-family: "Poppins";
    
}

body{
    background-color: black;
}

button{
    width: 150px;
    height: 40px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    border: none;
    background-color: #d3ad7f;
    color: white;
    margin-left: 10px;
    transition: all .5s;
}
button:hover{
    background-color: white;
    color: black;
}
